:root {
    font-size: 62.5%;
    --dark-primary-color: #47597E;
    ;
    --light-primary-color: #DBE6FD;
    ;
    --default-primary-color: #9BA4B4;
    ;
    ;
    --primary-text-color: #978755;
    --secondary-text-color: #212121;
    --text-primary-color: white;
    --accent-color: #ECEFF1;
    --divider-color: #4e5c8b;
    font-size: 62.5%;
    background-color: #F1F6F9;
}


/* utility class */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

h1,
h2 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 3rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.1rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}


/* maincss*/

.navbar {
    height: 10vh;
    background-color: var(--text-primary-color);
    box-shadow: 0 0 .5rem 0;
    display: flex;
    justify-content: space-between;
}

.navbar>span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    padding-top: 1rem;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'Alex Brush', cursive !important;
}

.logo-img {
    margin: .5rem .5rem .5rem 2rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    color: var(--text-primary-color);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#toolbox {
    padding-top: .5rem;
    height: 72vh;
    width: 7rem;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--text-primary-color);
    margin-left: 2rem;
    border: var(--default-primary-color) 1px solid;
    display: flex;
    flex-direction: column;
    position: fixed
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #000000;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#canvas {
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
}

.icon {
    background-color: whitesmoke;
    padding: 1rem .5rem;
    border: none;
    border-radius: 1rem;
    margin: .5rem 1rem;
}

.icon>img {
    height: 2rem;
}

.icon:hover,
#boardcolor:hover,
#strokecolor:hover,
.top-btn-icon:hover {
    background-color: var(--light-primary-color);
}

.color-icon {
    background-color: whitesmoke;
    border: none;
    padding: .5rem;
    margin: 1rem 1.25rem;
    height: 4rem;
    border-radius: 1rem;
}

.top-tollbox {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem 2rem
}

.top-btn-icon {
    background-color: whitesmoke;
    border: none;
    padding: .5rem;
    margin: .5rem;
    border-radius: 1rem;
}